<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="./css/layout.css">
    <link rel="stylesheet" href="./css/iconSize.css">
    <link rel="stylesheet" href="./css/videoSize.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    
    <script src="./js/custom.js"></script>
    <title>google</title>
</head>


<body>
    <div id="navbar-layout">
        <nav class="navbar-light">
            <div class="nav-grid"></div>
            <div class="icon-div">
                <a href="#service" data-toggle="collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar last"></span>
                </a>
            </div>
            <div class='logo-icon'>
                <img class="icon-img" src="./img/youtubeIcon.jpg">
                <span class="icon-img-text">KR</span>
            </div>
            <!-- <div class="container-fluid">
                <div class='search-div'>
                    <input type="text" class="scope-control" placeholder="검색" id='scope-control'>
                    <button type="submit" class="scope btn"><img class="scope" src="./img/pngegg.png"></button>
                </div>
                <div class="navbar-right" >
                    <span class="glyphicon video">
                        <img src="./img/video.png" class="video-icon" alt="">
                    </span>
                    <span class="glyphicon glyphicon-th"></span>
                    <span class="glyphicon dot-span">
                        <a class="glyphicon dot">
                            <span class="icon-dot"></span>
                            <span class="icon-dot"></span>
                            <span class="icon-dot last"></span>
                        </a>
                    </span>
                    <span class="glyphicon login" style="border-style: ridge"><img src="./img/user.png" class="login-icon" alt=""> 로그인</span>
                </div>
            </div> -->
        </nav>
    </div>
    
    <div id="body-form">
        <div id="sidebar">
            <div class='sidebar-icon'><p>(아이콘) 홈</p></div>
            <div class='sidebar-icon'>(아이콘) 인기</div>
            <div class='sidebar-icon'>(아이콘) 구독</div>
            <div class="grid-sidebar"></div>
            <div class='sidebar-icon'>(아이콘) 보관함</div>
            <div class='sidebar-icon'>(아이콘) 시청 기록</div>
            <div class='sidebar-icon'>(아이콘) 내 동영상</div>
            <div class='sidebar-icon'>(아이콘) 내 영화</div>
            <div class='sidebar-icon'>(아이콘) 나중에 볼 동영상</div>
            <div class='sidebar-icon toggle-contents'>(아이콘) 또글</div>
            <div class='sidebar-icon toggle-contents'>(아이콘) 또글</div>
            <div class='sidebar-icon toggle-contents'>(아이콘) 또글</div>
            <div class='sidebar-icon toggle-contents'>(아이콘) 또글</div>
            <div class='sidebar-icon toggle-contents'>(아이콘) 또글</div>
            <div class='sidebar-icon toggle-contents'>(아이콘) 또글</div>
            <div class='sidebar-icon toggle-contents'>(아이콘) 또글</div>
            <div class='sidebar-icon toggle-button'>(아이콘) 더보기</div>
            <div class="grid-sidebar"></div>
            <div>구독</div>
            <div class='sidebar-icon'>(아이콘) 유튜버들</div>
            <div class='sidebar-icon'>(아이콘) 유튜버들</div>
            <div class='sidebar-icon'>(아이콘) 유튜버들</div>
            <div class='sidebar-icon'>(아이콘) 유튜버들</div>
            <div class='sidebar-icon'>(아이콘) 유튜버들</div>
            <div class='sidebar-icon'>(아이콘) 유튜버들</div>
            <div class='sidebar-icon'>(아이콘) 유튜버들</div>
            <div class='sidebar-icon'>(아이콘) ~개 더보기</div>
            <div class="grid-sidebar"></div>
            <div>YOUTUBE 더보기</div>
            <div class='sidebar-icon'>(아이콘) YouTube Premium</div>
            <div class='sidebar-icon'>(아이콘) 영화</div>
            <div class='sidebar-icon'>(아이콘) 게임</div>
            <div class='sidebar-icon'>(아이콘) 실시간</div>
            <div class='sidebar-icon'>(아이콘) 학습</div>
            <div class="grid-sidebar"></div>
            <div class='sidebar-icon'>(아이콘) 설정</div>
            <div class='sidebar-icon'>(아이콘) 신고 기록</div>
            <div class='sidebar-icon'>(아이콘) 고객센터</div>
            <div class='sidebar-icon'>(아이콘) 의견 보내기</div>
            <div class="grid-sidebar"></div>
            <div>정보프레스 저작권 문의하기<br/>
                크리에이터 광고 개발자<br/>
                <br/>
                이용약관개인정보 보호<br/>
                정책 및 안전<br/>
                YouTube 작동의 원리<br/>
                새로운 기능 테스트하기<br/>
                <br/>
                <br/>
                © 2020 Google LLC<br/>
                회사명: Google LLC<br/>
                CEO: Sundar Pichai<br/>
                주소: 1600 Amphitheatre <br/>
                Parkway, Mountain View, CA <br/>
                94043, USA.<br/>
                전화: 080-822-1450 (무료)
            </div>
        </div>
        <div id='videoBox'>
            <div class="video-div">
                <div class='main-div'>
                    <div>
                        <img src="./img/width.jpg" alt="">
                        <div>
                            <div class="video-text-icon">
                                <img src="./img/videoIcon.jpg" alt="">
                            </div>
                            <div class="video-text">
                                    <strong>💻 고급스러운 분위기의 재즈 음악 ㅣ 
                                    <br/>Slow Jazz Musicㅣ Music For Work & Study</strong>
                                <br/>우든체어 wooden chair
                                <br/>조회수 35만회 <strong>&middot;</strong> 5개월 전
                            </div>
                        </div>
                    </div>
                    <div>
                        <img src="./img/width.jpg" alt="">
                        <div>
                            <div class="video-text-icon">
                                <img src="./img/videoIcon.jpg" alt="">
                            </div>
                            <div class="video-text">
                                    <strong>💻 고급스러운 분위기의 재즈 음악 ㅣ 
                                    <br/>Slow Jazz Musicㅣ Music For Work & Study</strong>
                                <br/>우든체어 wooden chair
                                <br/>조회수 35만회 <strong>&middot;</strong> 5개월 전
                            </div>
                        </div>
                    </div>
                    <div>
                        <img src="./img/width.jpg" alt="">
                        <div>
                            <div class="video-text-icon">
                                <img src="./img/videoIcon.jpg" alt="">
                            </div>
                            <div class="video-text">
                                    <strong>💻 고급스러운 분위기의 재즈 음악 ㅣ 
                                    <br/>Slow Jazz Musicㅣ Music For Work & Study</strong>
                                <br/>우든체어 wooden chair
                                <br/>조회수 35만회 <strong>&middot;</strong> 5개월 전
                            </div>
                        </div>
                    </div>
                    <div>
                        <img src="./img/width.jpg" alt="">
                        <div>
                            <div class="video-text-icon">
                                <img src="./img/videoIcon.jpg" alt="">
                            </div>
                            <div class="video-text">
                                    <strong>💻 고급스러운 분위기의 재즈 음악 ㅣ 
                                    <br/>Slow Jazz Musicㅣ Music For Work & Study</strong>
                                <br/>우든체어 wooden chair
                                <br/>조회수 35만회 <strong>&middot;</strong> 5개월 전
                            </div>
                        </div>
                    </div>
                    <div>
                        <img src="./img/width.jpg" alt="">
                        <div>
                            <div class="video-text-icon">
                                <img src="./img/videoIcon.jpg" alt="">
                            </div>
                            <div class="video-text">
                                    <strong>💻 고급스러운 분위기의 재즈 음악 ㅣ 
                                    <br/>Slow Jazz Musicㅣ Music For Work & Study</strong>
                                <br/>우든체어 wooden chair
                                <br/>조회수 35만회 <strong>&middot;</strong> 5개월 전
                            </div>
                        </div>
                    </div>
                    <div>
                        <img src="./img/width.jpg" alt="">
                        <div>
                            <div class="video-text-icon">
                                <img src="./img/videoIcon.jpg" alt="">
                            </div>
                            <div class="video-text">
                                    <strong>💻 고급스러운 분위기의 재즈 음악 ㅣ 
                                    <br/>Slow Jazz Musicㅣ Music For Work & Study</strong>
                                <br/>우든체어 wooden chair
                                <br/>조회수 35만회 <strong>&middot;</strong> 5개월 전
                            </div>
                        </div>
                    </div>
                    <div>
                        <img src="./img/width.jpg" alt="">
                        <div>
                            <div class="video-text-icon">
                                <img src="./img/videoIcon.jpg" alt="">
                            </div>
                            <div class="video-text">
                                    <strong>💻 고급스러운 분위기의 재즈 음악 ㅣ 
                                    <br/>Slow Jazz Musicㅣ Music For Work & Study</strong>
                                <br/>우든체어 wooden chair
                                <br/>조회수 35만회 <strong>&middot;</strong> 5개월 전
                            </div>
                        </div>
                    </div>
                    <div>
                        <img src="./img/width.jpg" alt="">
                        <div>
                            <div class="video-text-icon">
                                <img src="./img/videoIcon.jpg" alt="">
                            </div>
                            <div class="video-text">
                                    <strong>💻 고급스러운 분위기의 재즈 음악 ㅣ 
                                    <br/>Slow Jazz Musicㅣ Music For Work & Study</strong>
                                <br/>우든체어 wooden chair
                                <br/>조회수 35만회 <strong>&middot;</strong> 5개월 전
                            </div>
                        </div>
                    </div>
                </div>
                <div class="grid-div-video"></div>
                <div class='popularity title'><h4 style="font-weight: bold;">최근 YouTube 게시물</h4></div>
                <div class='popularity'>영상</div>
                <div class='more-video'>
                    <span class="opener">Dropdown One</span>
                    <ul>
                        <li><a href="#">First Sub Menu</a></li>
                        <li><a href="#">Second Sub Menu</a></li>
                        <li><a href="#">Third Sub Menu</a></li>
                    </ul>
                </div>
                <div class="grid-div-video"></div>
                <div class='main-div'>
                    <div>
                        <img src="./img/width.jpg" alt="">
                        <div>
                            <div class="video-text-icon">
                                <img src="./img/videoIcon.jpg" alt="">
                            </div>
                            <div class="video-text">
                                <strong>💻 고급스러운 분위기의 재즈 음악 ㅣ 
                                <br/>Slow Jazz Musicㅣ Music For Work & Study</strong>
                                <br/>우든체어 wooden chair
                                <br/>조회수 35만회 <strong>&middot;</strong> 5개월 전
                            </div>
                        </div>
                    </div>
                    <div>
                        <img src="./img/width.jpg" alt="">
                        <div>
                            <div class="video-text-icon">
                                <img src="./img/videoIcon.jpg" alt="">
                            </div>
                            <div class="video-text">
                                <strong>💻 고급스러운 분위기의 재즈 음악 ㅣ 
                                <br/>Slow Jazz Musicㅣ Music For Work & Study</strong>
                                <br/>우든체어 wooden chair
                                <br/>조회수 35만회 <strong>&middot;</strong> 5개월 전
                            </div>
                        </div>
                    </div>
                    <div>
                        <img src="./img/width.jpg" alt="">
                        <div>
                            <div class="video-text-icon">
                                <img src="./img/videoIcon.jpg" alt="">
                            </div>
                            <div class="video-text">
                                <strong>💻 고급스러운 분위기의 재즈 음악 ㅣ 
                                <br/>Slow Jazz Musicㅣ Music For Work & Study</strong>
                                <br/>우든체어 wooden chair
                                <br/>조회수 35만회 <strong>&middot;</strong> 5개월 전
                            </div>
                        </div>
                    </div>
                    <div>
                        <img src="./img/width.jpg" alt="">
                        <div>
                            <div class="video-text-icon">
                                <img src="./img/videoIcon.jpg" alt="">
                            </div>
                            <div class="video-text">
                                <strong>💻 고급스러운 분위기의 재즈 음악 ㅣ 
                                <br/>Slow Jazz Musicㅣ Music For Work & Study</strong>
                                <br/>우든체어 wooden chair
                                <br/>조회수 35만회 <strong>&middot;</strong> 5개월 전
                            </div>
                        </div>
                    </div>
                    <div>
                        <img src="./img/width.jpg" alt="">
                        <div>
                            <div class="video-text-icon">
                                <img src="./img/videoIcon.jpg" alt="">
                            </div>
                            <div class="video-text">
                                <strong>💻 고급스러운 분위기의 재즈 음악 ㅣ 
                                <br/>Slow Jazz Musicㅣ Music For Work & Study</strong>
                                <br/>우든체어 wooden chair
                                <br/>조회수 35만회 <strong>&middot;</strong> 5개월 전
                            </div>
                        </div>
                    </div>
                    <div>
                        <img src="./img/width.jpg" alt="">
                        <div>
                            <div class="video-text-icon">
                                <img src="./img/videoIcon.jpg" alt="">
                            </div>
                            <div class="video-text">
                                <strong>💻 고급스러운 분위기의 재즈 음악 ㅣ 
                                <br/>Slow Jazz Musicㅣ Music For Work & Study</strong>
                                <br/>우든체어 wooden chair
                                <br/>조회수 35만회 <strong>&middot;</strong> 5개월 전
                            </div>
                        </div>
                    </div>
                    <div>
                        <img src="./img/width.jpg" alt="">
                        <div>
                            <div class="video-text-icon">
                                <img src="./img/videoIcon.jpg" alt="">
                            </div>
                            <div class="video-text">
                                <strong>💻 고급스러운 분위기의 재즈 음악 ㅣ 
                                <br/>Slow Jazz Musicㅣ Music For Work & Study</strong>
                                <br/>우든체어 wooden chair
                                <br/>조회수 35만회 <strong>&middot;</strong> 5개월 전
                            </div>
                        </div>
                    </div>
                    <div>
                        <img src="./img/width.jpg" alt="">
                        <div>
                            <div class="video-text-icon">
                                <img src="./img/videoIcon.jpg" alt="">
                            </div>
                            <div class="video-text">
                                <strong>💻 고급스러운 분위기의 재즈 음악 ㅣ 
                                <br/>Slow Jazz Musicㅣ Music For Work & Study</strong>
                                <br/>우든체어 wooden chair
                                <br/>조회수 35만회 <strong>&middot;</strong> 5개월 전
                            </div>
                        </div>
                    </div>
                    <div>
                        <img src="./img/width.jpg" alt="">
                        <div>
                            <div class="video-text-icon">
                                <img src="./img/videoIcon.jpg" alt="">
                            </div>
                            <div class="video-text">
                                <strong>💻 고급스러운 분위기의 재즈 음악 ㅣ 
                                <br/>Slow Jazz Musicㅣ Music For Work & Study</strong>
                                <br/>우든체어 wooden chair
                                <br/>조회수 35만회 <strong>&middot;</strong> 5개월 전
                            </div>
                        </div>
                    </div>
                    <div>
                        <img src="./img/width.jpg" alt="">
                        <div>
                            <div class="video-text-icon">
                                <img src="./img/videoIcon.jpg" alt="">
                            </div>
                            <div class="video-text">
                                <strong>💻 고급스러운 분위기의 재즈 음악 ㅣ 
                                <br/>Slow Jazz Musicㅣ Music For Work & Study</strong>
                                <br/>우든체어 wooden chair
                                <br/>조회수 35만회 <strong>&middot;</strong> 5개월 전
                            </div>
                        </div>
                    </div>
                    <div>
                        <img src="./img/width.jpg" alt="">
                        <div>
                            <div class="video-text-icon">
                                <img src="./img/videoIcon.jpg" alt="">
                            </div>
                            <div class="video-text">
                                <strong>💻 고급스러운 분위기의 재즈 음악 ㅣ 
                                <br/>Slow Jazz Musicㅣ Music For Work & Study</strong>
                                <br/>우든체어 wooden chair
                                <br/>조회수 35만회 <strong>&middot;</strong> 5개월 전
                            </div>
                        </div>
                    </div>
                    <div>
                        <img src="./img/width.jpg" alt="">
                        <div>
                            <div class="video-text-icon">
                                <img src="./img/videoIcon.jpg" alt="">
                            </div>
                            <div class="video-text">
                                <strong>💻 고급스러운 분위기의 재즈 음악 ㅣ 
                                <br/>Slow Jazz Musicㅣ Music For Work & Study</strong>
                                <br/>우든체어 wooden chair
                                <br/>조회수 35만회 <strong>&middot;</strong> 5개월 전
                            </div>
                        </div>
                    </div>
                    <div>
                        <img src="./img/width.jpg" alt="">
                        <div>
                            <div class="video-text-icon">
                                <img src="./img/videoIcon.jpg" alt="">
                            </div>
                            <div class="video-text">
                                <strong>💻 고급스러운 분위기의 재즈 음악 ㅣ 
                                <br/>Slow Jazz Musicㅣ Music For Work & Study</strong>
                                <br/>우든체어 wooden chair
                                <br/>조회수 35만회 <strong>&middot;</strong> 5개월 전
                            </div>
                        </div>
                    </div>
                    <div>
                        <img src="./img/width.jpg" alt="">
                        <div>
                            <div class="video-text-icon">
                                <img src="./img/videoIcon.jpg" alt="">
                            </div>
                            <div class="video-text">
                                <strong>💻 고급스러운 분위기의 재즈 음악 ㅣ 
                                <br/>Slow Jazz Musicㅣ Music For Work & Study</strong>
                                <br/>우든체어 wooden chair
                                <br/>조회수 35만회 <strong>&middot;</strong> 5개월 전
                            </div>
                        </div>
                    </div>
                    <div>
                        <img src="./img/width.jpg" alt="">
                        <div>
                            <div class="video-text-icon">
                                <img src="./img/videoIcon.jpg" alt="">
                            </div>
                            <div class="video-text">
                                <strong>💻 고급스러운 분위기의 재즈 음악 ㅣ 
                                <br/>Slow Jazz Musicㅣ Music For Work & Study</strong>
                                <br/>우든체어 wooden chair
                                <br/>조회수 35만회 <strong>&middot;</strong> 5개월 전
                            </div>
                        </div>
                    </div>
                    <div>
                        <img src="./img/width.jpg" alt="">
                        <div>
                            <div class="video-text-icon">
                                <img src="./img/videoIcon.jpg" alt="">
                            </div>
                            <div class="video-text">
                                <strong>💻 고급스러운 분위기의 재즈 음악 ㅣ 
                                <br/>Slow Jazz Musicㅣ Music For Work & Study</strong>
                                <br/>우든체어 wooden chair
                                <br/>조회수 35만회 <strong>&middot;</strong> 5개월 전
                            </div>
                        </div>
                    </div>
                    <div>
                        <img src="./img/width.jpg" alt="">
                        <div>
                            <div class="video-text-icon">
                                <img src="./img/videoIcon.jpg" alt="">
                            </div>
                            <div class="video-text">
                                <strong>💻 고급스러운 분위기의 재즈 음악 ㅣ 
                                <br/>Slow Jazz Musicㅣ Music For Work & Study</strong>
                                <br/>우든체어 wooden chair
                                <br/>조회수 35만회 <strong>&middot;</strong> 5개월 전
                            </div>
                        </div>
                    </div>
                    <div>
                        <img src="./img/width.jpg" alt="">
                        <div>
                            <div class="video-text-icon">
                                <img src="./img/videoIcon.jpg" alt="">
                            </div>
                            <div class="video-text">
                                <strong>💻 고급스러운 분위기의 재즈 음악 ㅣ 
                                <br/>Slow Jazz Musicㅣ Music For Work & Study</strong>
                                <br/>우든체어 wooden chair
                                <br/>조회수 35만회 <strong>&middot;</strong> 5개월 전
                            </div>
                        </div>
                    </div>
                    <div>
                        <img src="./img/width.jpg" alt="">
                        <div>
                            <div class="video-text-icon">
                                <img src="./img/videoIcon.jpg" alt="">
                            </div>
                            <div class="video-text">
                                <strong>💻 고급스러운 분위기의 재즈 음악 ㅣ 
                                <br/>Slow Jazz Musicㅣ Music For Work & Study</strong>
                                <br/>우든체어 wooden chair
                                <br/>조회수 35만회 <strong>&middot;</strong> 5개월 전
                            </div>
                        </div>
                    </div>
                    <div>
                        <img src="./img/width.jpg" alt="">
                        <div>
                            <div class="video-text-icon">
                                <img src="./img/videoIcon.jpg" alt="">
                            </div>
                            <div class="video-text">
                                <strong>💻 고급스러운 분위기의 재즈 음악 ㅣ 
                                <br/>Slow Jazz Musicㅣ Music For Work & Study</strong>
                                <br/>우든체어 wooden chair
                                <br/>조회수 35만회 <strong>&middot;</strong> 5개월 전
                            </div>
                        </div>
                    </div>
                    <div>
                        <img src="./img/width.jpg" alt="">
                        <div>
                            <div class="video-text-icon">
                                <img src="./img/videoIcon.jpg" alt="">
                            </div>
                            <div class="video-text">
                                <strong>💻 고급스러운 분위기의 재즈 음악 ㅣ 
                                <br/>Slow Jazz Musicㅣ Music For Work & Study</strong>
                                <br/>우든체어 wooden chair
                                <br/>조회수 35만회 <strong>&middot;</strong> 5개월 전
                            </div>
                        </div>
                    </div>
                    <div>
                        <img src="./img/width.jpg" alt="">
                        <div>
                            <div class="video-text-icon">
                                <img src="./img/videoIcon.jpg" alt="">
                            </div>
                            <div class="video-text">
                                <strong>💻 고급스러운 분위기의 재즈 음악 ㅣ 
                                <br/>Slow Jazz Musicㅣ Music For Work & Study</strong>
                                <br/>우든체어 wooden chair
                                <br/>조회수 35만회 <strong>&middot;</strong> 5개월 전
                            </div>
                        </div>
                    </div>
                    <div>
                        <img src="./img/width.jpg" alt="">
                        <div>
                            <div class="video-text-icon">
                                <img src="./img/videoIcon.jpg" alt="">
                            </div>
                            <div class="video-text">
                                <strong>💻 고급스러운 분위기의 재즈 음악 ㅣ 
                                <br/>Slow Jazz Musicㅣ Music For Work & Study</strong>
                                <br/>우든체어 wooden chair
                                <br/>조회수 35만회 <strong>&middot;</strong> 5개월 전
                            </div>
                        </div>
                    </div>
                    <div>
                        <img src="./img/width.jpg" alt="">
                        <div>
                            <div class="video-text-icon">
                                <img src="./img/videoIcon.jpg" alt="">
                            </div>
                            <div class="video-text">
                                <strong>💻 고급스러운 분위기의 재즈 음악 ㅣ 
                                <br/>Slow Jazz Musicㅣ Music For Work & Study</strong>
                                <br/>우든체어 wooden chair
                                <br/>조회수 35만회 <strong>&middot;</strong> 5개월 전
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>